<h2>Task 1</h2>
<font color=blue><br>Calculate (manually *and* by programming in python), the odds for a given probability in the example dataset.

<h2>Solution:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h4>Using Titanic Example

In [2]:
df_train = pd.read_csv("titanic_train.csv")

In [4]:
df_train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
1,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
2,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [21]:
#Calculating Probability of Survived:
prb_srv = df_train[df_train['Survived']==1].shape[0]/df_train.shape[0]
prb_die = 1-prb_srv
print('Probability of survival is',round(prb_srv,2))
print('Probability of death is',round(prb_die,2))

Probability of survival is 0.4
Probability of death is 0.6

In [19]:
#odds_srv = prob_surv / prob_die
odd_srv = prb_srv/prb_die
odd_die = prb_die/prb_srv
print('Odds of survival are',round(odd_srv,2))
print('Odds of death are',round(odd_die,2))

Odds of survival are 0.67
Odds of death are 1.48

<h4>Using example given in Workshop assignment:

In [30]:
df = pd.read_excel('churn.xlsx')
df_orig = df.copy()
df.head()

   Gender  Age Payment Method  Churn  LastTransaction
0    male   64    credit card  loyal               98
1    male   35         cheque  churn              118
2  female   25    credit card  loyal              107
3  female   39    credit card    NaN              177
4    male   39    credit card  loyal               90

In [31]:
df_new = pd.DataFrame(pd.get_dummies(df[['Gender','Payment Method','Churn']]))
df = pd.concat([df, df_new], axis=1, sort=False)
df.head()

,Gender,Age,Payment Method,Churn,LastTransaction,Gender_female,Gender_male,Payment Method_cash,Payment Method_cheque,Payment Method_credit card,Churn_churn,Churn_loyal
0,male,64,credit card,loyal,98,0,1,0,0,1,0,1
1,male,35,cheque,churn,118,0,1,0,1,0,1,0
2,female,25,credit card,loyal,107,1,0,0,0,1,0,1
3,female,39,credit card,NaN,177,1,0,0,0,1,0,0
4,male,39,credit card,loyal,90,0,1,0,0,1,0,1

In [35]:
#Dropping unnecessary columns
df =df.drop(columns=['Gender','Payment Method','Churn','Churn_loyal','Gender_female'],axis=0)
df.head()

,Age,LastTransaction,Gender_female,Gender_male,Payment Method_cash,Payment Method_cheque,Payment Method_credit card,Churn_churn,Churn_loyal
0,64,98,0,1,0,0,1,0,1
1,35,118,0,1,0,1,0,1,0
2,25,107,1,0,0,0,1,0,1
3,39,177,1,0,0,0,1,0,0
4,39,90,0,1,0,0,1,0,1

In [36]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
def scale_it(df_X):
    df_X = pd.DataFrame(scaler.fit_transform(df_X),columns = df_X.columns.values)
    return df_X

In [37]:
df = scale_it(df)
df.head()

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,Age,LastTransaction,Gender_female,Gender_male,Payment Method_cash,Payment Method_cheque,Payment Method_credit card,Churn_churn,Churn_loyal
0,0.635135,0.436937,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1,0.243243,0.527027,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,0.108108,0.477477,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.297297,0.792793,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.297297,0.400901,0.0,1.0,0.0,0.0,1.0,0.0,1.0

In [38]:
df.columns

Index(['Age', 'LastTransaction', 'Gender_female', 'Gender_male',
       'Payment Method_cash', 'Payment Method_cheque',
       'Payment Method_credit card', 'Churn_churn', 'Churn_loyal'],
      dtype='object')

In [40]:
from sklearn.linear_model import LogisticRegression
train_cols = ['Age', 'LastTransaction', 'Gender_male',
       'Payment Method_cheque',
       'Payment Method_credit card']
pred_cols = ['Churn_churn']

clf = LogisticRegression()
clf.fit(df[train_cols],df[pred_cols])

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [41]:
clf.predict_proba(df[train_cols])

array([[0.90900427, 0.09099573],
       [0.86194339, 0.13805661],
       [0.58588317, 0.41411683],
       ...,
       [0.96616695, 0.03383305],
       [0.96856863, 0.03143137],
       [0.6876206 , 0.3123794 ]])